.slide-show {
    margin: auto;
    text-align: center;
}

.slideshow-container {
    margin: auto;
    position: relative;
    max-width: 600px;
    width: 600px;
    min-width: 600px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}
img {
    width: 100%;
    height: 100%;
}
.my-slides {
    display: none;
    width: 100%;
    height: 100%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
/* position numbering */
.number-text {
    position: absolute;
    color: #f2f2f2;
    top: 5px;
    left: 5px;
}
/* position prev ans next */
.prev,.next {
    z-index: 100;
    font-weight: bold;
    position:absolute;
    top: 50%;
    color:white;
    padding:3px;
    padding:8px;
    margin-top:-22px;
    border-radius:0 4px 4px 0;
    background:rgba(0,0,0,0.8)

}
.next{
    right:0;
    border-radius:4px 0 0 4px;

}

/* design dot */
.dot-container{
    
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
}
